.fill-black {
  fill: black;
  transition: stroke fill 0.2s ease;
}

.stroke-black {
  stroke: black;
  transition: stroke fill 0.2s ease;
}

.stroke-white {
  stroke: #fff;
  transition: stroke fill 0.2s ease;
}

:global(.icon-button:hover) .fill-black,
:global(.icon-button:focus) .fill-black {
  fill: #fff;
  transition: stroke fill 0.2s ease;
}

:global(.icon-button:hover) .stroke-black,
:global(.icon-button:focus) .stroke-black {
  stroke: #fff;
  transition: stroke fill 0.2s ease;
}

:global(.icon-button:hover) .stroke-white,
:global(.icon-button:focus) .stroke-white {
  stroke: black;
  transition: stroke fill 0.2s ease;
}
