DATOCMS_API_TOKEN=

# If you’d like to use a Redis database to store user data in the API routes,
# fill these below. See: lib/redis.ts
REDIS_PORT=
REDIS_URL=
REDIS_PASSWORD=
REDIS_EMAIL_TO_ID_SECRET=