# Allows you to view CMS seed data
DATOCMS_READ_ONLY_API_TOKEN=f1d412b5750fb414249d0ed17888af
NEXT_PUBLIC_GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# If you’d like to use a Redis database to store user data in the API routes,
# fill these below. See: lib/redis.ts
REDIS_PORT=
REDIS_URL=
REDIS_PASSWORD=
REDIS_EMAIL_TO_ID_SECRET=

# If you’d like to test GitHub OAuth locally, set this to a localhost origin,
# i.e. "http://localhost:3000". See: lib/constants.ts
SITE_ORIGIN=