.hero {
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  font-weight: 800;
  margin: var(--space-8x) 24px var(--space-2x);
}

.description {
  font-size: var(--text-md);
  line-height: 1.4;
  color: var(--secondary-color);
  margin-top: 0;
  margin-left: 24px;
}

@media (min-width: 768px) {
  .hero {
    font-size: 40px;
    margin: var(--space-16x) var(--space-8x) var(--space-4x);
  }

  .description {
    margin-left: var(--space-8x);
  }
}
