.nav-overlay {
  position: fixed;
  z-index: 100;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  font-size: var(--space-8x);
  letter-spacing: -0.05em;
  font-weight: 800;
  color: #fff;
  margin-bottom: var(--space-4x);
  line-height: 1.5;
  width: fit-content;
}

.nav-item:focus {
  outline: 1px dotted #fff;
}

.nav-active {
  color: #fff;
  background: linear-gradient(90deg, var(--brand), var(--brand)) left bottom transparent no-repeat;
  background-size: 100% 2px;
}

.button {
  margin: 0;
  margin-right: var(--space-4x);
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  color: #fff;
  display: block;
}

@media (min-width: 1032px) {
  .button {
    display: none;
  }
}
