@media (min-width: 768px) {
  .info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: calc(var(--space-4x) * var(--size));
    font-size: calc(1em * var(--size));
  }
}

.logo {
  margin-bottom: var(--space-6x);
  font-size: 18px;
}

@media (min-width: 768px) {
  .logo {
    margin-bottom: 0;
    font-size: calc(16px * var(--size));
  }
}

.date {
  text-transform: uppercase;
  font-size: calc(20px * var(--size));
  line-height: 1.15;
  margin-bottom: var(--space-4x);
}

@media (min-width: 768px) {
  .date {
    margin-bottom: 0;
  }
}

.created-by {
  display: flex;
  align-items: center;
  color: var(--accents-4);
}

@media (min-width: 768px) {
  .created-by {
    margin-right: var(--space-4x);
  }
}

.created-by-text {
  white-space: nowrap;
  margin-right: var(--space);
}

.created-by-logo {
  height: calc(16px * var(--size));
  display: inline-flex;
}

.url {
  color: var(--accents-4);
  margin-bottom: var(--space-12x);
}

@media (min-width: 768px) {
  .url {
    margin-bottom: 0;
  }
}
