.visual {
  position: relative;
  transform: translateZ(0);
}

.horizontal-ticket {
  display: none;
}

.vertical-ticket {
  display: flex;
}

@media (min-width: 768px) {
  .horizontal-ticket {
    display: flex;
  }

  .vertical-ticket {
    display: none;
  }
}

.profile {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 46px 29px;
}

@media (min-width: 768px) {
  .profile {
    padding: calc(44px * var(--size)) calc(160px * var(--size)) calc(44px * var(--size))
      calc(63px * var(--size));
  }
}

.info {
  z-index: 1;
  position: absolute;
  top: calc(120px * var(--size));
  width: 100%;
  height: 100%;
  padding: calc(46px * var(--size)) calc(29px * var(--size));
}

@media (min-width: 768px) {
  .info {
    top: calc(140px * var(--size));
    padding: calc(44px * var(--size)) calc(160px * var(--size)) calc(44px * var(--size))
      calc(63px * var(--size));
  }
}

.ticket-number-wrapper {
  position: absolute;
  bottom: 55px;
  right: 0;
}

@media (min-width: 768px) {
  .ticket-number-wrapper {
    bottom: 0;
  }
}

.ticket-number {
  font-weight: bold;
  font-size: calc(40px * var(--size));
  line-height: 1;
  width: calc(330px * var(--size));
  text-align: center;
}

@media (min-width: 768px) {
  .ticket-number {
    transform: rotate(90deg) translateY(calc(100px * var(--size)));
    transform-origin: bottom right;
  }
}
